body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}



a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

button, input[type="submit"] {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #218838;
}

form {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form input[type="radio"],
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="radio"] {
    width: auto;
    margin-right: 5px;
}
